/**
 * @file
 * Widget styles for GitLab Field feature.
 */

.gitlab-file-field-widget div.messages.warning {
  margin-bottom: 20px;
}

.gitlab-file-field-widget table div.form-type-checkbox {
  text-align: center;
}

.gitlab-file-field-widget input.file-browser-folder {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: #0074BD;
  font-family: inherit;
  border-radius: 0;
}

.gitlab-file-field-widget input.file-browser-folder:hover {
  background: none;
  text-decoration: underline;
}

.gitlab-file-field-widget input.file-browser-folder:active {
  background: none;
  color: #0074BD;
  text-shadow: none;
}

.gitlab-file-field-widget div.file-sources {
  margin-top: 5px;
}

.gitlab-file-field-widget div.file-sources div.form-item {
  padding-right: 10px;
}
